body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
table {
  border-collapse: collapse;
  border: 2px solid #333;
}
td {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
}
h1 {
  display: flex;
  position: absolute;
  text-align: center;
  top: 10%;
  transform: translateX(30%);
}
.container {
  margin: 20px auto;
  padding: 20px;
  align-items: center;
  text-align: center;
}
.score {
  position: relative;
  margin: auto;
}
